body{
  
  margin: 1%;
}

header{
  background-color:#848E66;
  background-image: url("../images/Langeoog3.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}
h1{
  text-align:center;
  color:#ffffff;
  font-size: 50px;
  text-transform:uppercase;
}

h2{
  color:#000000;
  text-transform:uppercase;
}

section{
	background-color:#030303;
	background-image: url("../images/strandlangeoog.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; 	
}

nav a{
  display:inline-block;
  line-height: 0.6em;
  margin:0.5%;
  
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  -o-border-radius: 3;
  font-size:150%;
  border-radius:5px;
  text-decoration:none;
  padding:1%;
  color:#000000;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(219,219,219,0.50);
  width:120px;
  height: 15px;
  opacity: 0.7; 
}

nav a:hover{
	background-color: #b5b0af;
}

.active{
	background-color: white;
}

.left {
	background-color: rgb(221, 247, 255);
	width: 24%;
	height: 1400px;
	float:left;
	padding: 5% 0;
}

.text-block {
  position: relative;
  bottom: 14px;
  left: 0px;
  background-color: #72d0f1;
  color: white;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
}

.text-block1 {
  position: relative;
  bottom: 14px;
  left: 0px;
  background-color: #72d0f1;
  color: white;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
}

.text-block2 {
  position: relative;
  bottom: 14px;
  left: 0px;
  background-color: #72d0f1;
  color: white;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
}


.right{
	display: inline-block;
	height: 600px;
	width: 74%;
	padding-left: 2%;
	
}

.right1{
	background-image: url("../images/Langeoog-8.jpg");
	display: inline-block;
	height: 900px;
	width: 74%;
	padding-left: 2%;
  	
}


.left img{
	border: solid 3px #000000;
	width: 80%;	
	margin:10%;
}

